<div class="container">
	<div class="row">
		<div class="col-xs-12 page-title"><div>Welcome to your bookclub, <%= @session_state[:user_profile].casual_name %></div></div>
	</div>
	<div class="row">
		<div id="sidebar" class="col-md-4">
			<div class="row">
				<div class="col-xs-12 col-sm-9 sidebar-title">
					<% if @session_state[:show_admin] %>
					<a class="title-button" href="/meetings/add"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
					<% end %>
					<div>Meetings</div>
				</div>

				<div class="col-xs-0 col-sm-3"><!--spacer--></div>
			</div>
			
			<ul class="meeting-list">
				<% @future_meetings.each do |m_hash| 
					meeting = m_hash[:meeting]
					selected_book = m_hash[:selected_book]
					nominated_books = m_hash[:nominated_books]
					%>

					<li class="row meeting">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-12 meeting-date">
									<a href="/meetings/meeting/<%= meeting.meeting_id %>"><%= meeting.date.strftime("%A - %b %d, %Y") %></a>
								</div>
							</div>
							<% if selected_book.nil? %>
							<div class="row">
								<div class="col-sm-12">Open Voting</div>
							</div>
							<div class="row">
								<ul>
									<% nominated_books.each do |b| %>
									<li><i><%= b.title %></i></li>
									<% end %>
								</ul>
							</div>
							<% else %>

							<% end %>
						</div>
					</li>
				<% end %>		
			</ul>
		</div>

		<div id="main-content" class="col-md-8">
			<div class="row">
				<div class="col-xs-12 col-sm-9 content-title">
					<a class="title-button" href="/books/add"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
					<div>Nominated Books</div>
				</div>
				<div class="col-xs-0 col-sm-3"><!--spacer--></div>
			</div>
			
			<ul class="book-list">
				<% @unread_books.each do |book| %>
				<li class="row book-listing" data-id="<%= book.book_id %>">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-2">
								<% if book.image_url && !book.image_url.empty? %>
								<img class="book-image" src="<%= book.image_url %>" />
								<% end %>
							</div>
							<div class="col-sm-offset-1 col-sm-9">
								<div class="row">
									<div class="col-xs-12 book-title"><%= book.title %></div>
								</div>
								<div class="row">
									<div class="col-xs-12 book-author"><%= book.author %></div>
								</div>
							</div>
						</div>
						<div class="row">
							<% date_added = Time.parse(book.date_added).getlocal
							  today = Time.now.getlocal %>
							<div class="col-sm-offset-7 col-sm-5 book-date-added" title="<%= date_added.strftime("%Y-%b-%d @ %I:%M%P %Z") %>">
								Added <%= (date_added.year == today.year && date_added.month == today.month && date_added.day == today.day) ? "today" : book.age + " ago" %>
							</div>
						</div>
					</div>
				</li>
				<% end %>
			</ul>
			<div class="row">
				<div class="col-sm-10 col-xs-12"></div>
				<div class="col-sm-2 col-xs-0"></div>
			</div>
		</div>
	</div>
</div>
