<!DOCTYPE html>
<html>
<head>
	<% 	erb_title = @page_state[:page_title]
		if erb_title != @page_state[:site_title]
			erb_title = "#{erb_title} - #{@page_state[:site_title]}"
		end
	%>
	<title><%= erb_title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/_bootstrap.css" />

	<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

	<%= yield_content :extra_css %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<%= erb :page_menu %>

	<%= yield %>

	<script type="text/javascript">
		//Facebook is helpful so we have to unhelp ourselves
		(function () {
			if (window.location.hash == '#_=_') {
				history.replaceState ? history.replaceState(null, null, window.location.href.split("#")[0])
									 : window.location.hash = '';
			}
		})();
	</script>
	<script src="/javascripts/bootstrap.js"></script>

	<%= yield_content :extra_javascript %>
</body>
</html>	