<div class="container">
	<div class="row">
		<div class="col-sm-12 page-title"><div>Meeting</div></div>
	</div>
	<div class="row">
		<div id="sidebar" class="col-md-4">
			<div class="row">
				<div class="col-xs-12 col-sm-9 sidebar-title"><div>Details</div></div>
			</div>
			<div class="row">
				<div class="col-xs-12 meeting-date"><%= @meeting.date.strftime("%A - %b %d, %Y") %> @ <%= @meeting.time %></div>		
			</div>
			<div class="row">
				<div class="col-sm-12 meeting-location"><%= @meeting.location %></div>
			</div>
		</div>
		<div id="main-content" class="col-md-8">
			<% if @nominated_books.size > 0 %>
			<div class="row">
				<div class="col-xs-12 col-sm-9 content-title"><div>Nominations</div></div>
			</div>
			<ul class="book-list">
			<% @nominated_books.each do |book| %>
				<li class="row book-listing" data-id="<%= book.book_id %>">
					<div class="col-sm-1" style="font-size: 125%;">
						<div class="row">
							<div class="col-xs-12" style="text-align:center; font-weight: bold;">
								<span class="glyphicon glyphicon-arrow-up"></span>
							</div>
						</div>
						<div class="row"><div class="col-xs-12" style="text-align:center">0</div></div>
						<div class="row">
							<div class="col-xs-12" style="text-align:center">
								<span class="glyphicon glyphicon-arrow-down"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="row">
							<div class="col-sm-2">
								<% if book.image_url && !book.image_url.empty? %>
								<img class="book-image" src="<%= book.image_url %>" />
								<% end %>
							</div>
							<div class="col-sm-offset-1 col-sm-9">
								<div class="row">
									<div class="col-xs-12 book-title"><%= book.title %></div>
								</div>
								<div class="row">
									<div class="col-xs-12 book-author"><%= book.author %></div>
								</div>
							</div>
						</div>
						<div class="row">
							<% date_added = Time.parse(book.date_added).getlocal
							  today = Time.now.getlocal %>
							<div class="col-sm-offset-7 col-sm-5 book-date-added" title="<%= date_added.strftime("%Y-%b-%d @ %I:%M%P %Z") %>">
								Added <%= (date_added.year == today.year && date_added.month == today.month && date_added.day == today.day) ? "today" : book.age + " ago" %>
							</div>
						</div>
					</div>
				</li>
			<% end %>
			</ul>
			<% end #if @nominated_books %>
		</div>
	</div>
</div>