<% content_for :extra_css do %>
<link rel="stylesheet" type="text/css" href="/stylesheets/meetings.css" />
<% end %>

<div class="container">
	<div class="row">
		<div class="col-sm-12 page-title"><div>Meetings</div></div>
	</div>

	<div class="row">
		<div class="col-sm-12 content-title"><div>Upcoming Meetings</div></div>
	</div>

	<% @future_meetings.each do |meeting| %>
	<div class="row meeting-listing">
		<div class="col-sm-3">
			<% if meeting[:selected_book].nil? %>
			<div class="open-voting">Open Voting</div>
			<ul>
			<%	meeting[:nominations].each do |nom| %>
				<li><%= nom[:title] %></li>
			<%  end %>
			</ul>

			<% else %>
				<div class="book-title"><%= meeting[:selected_book] %></div>
				<div class="book-cover">
					<img src="<%= meeting[:selected_book_cover] %>"/>
				</div>
			<% end %>
		</div>
		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-12 meeting-date">
					<a href="<%= meeting[:url] %>"><%= meeting[:date].strftime("%A - %b %d, %Y")  %></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 meeting-time"><%= meeting[:time] %></div>
			</div>
			<div class="row">
				<div class="col-sm-12 meeting-location"><%= meeting[:location] %></div>
			</div>
		</div>
	</div>
	<% end %>

	<div class="row">
		<div class="col-sm-12 content-title"><div>Past Meetings</div></div>
	</div>

	<% @past_meetings.each do |meeting| %>
	<div class="row meeting-listing">
		<div class="col-sm-3">
			<% if meeting[:selected_book].nil? %>
			<div class="open-voting">Open Voting</div>
			<ul>
			<%	meeting[:nominations].each do |nom| %>
				<li><%= nom[:title] %></li>
			<%  end %>
			</ul>

			<% else %>
				<div class="book-title"><%= meeting[:selected_book] %></div>
				<div class="book-cover">
					<img src="<%= meeting[:selected_book_cover] %>"/>
				</div>
			<% end %>
		</div>
		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-12 meeting-date">
					<a href="<%= meeting[:url] %>"><%= meeting[:date].strftime("%A - %b %d, %Y")  %></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 meeting-time"><%= meeting[:time] %></div>
			</div>
			<div class="row">
				<div class="col-sm-12 meeting-location"><%= meeting[:location] %></div>
			</div>
		</div>
	</div>
	<% end %>
</div>