<% content_for :extra_css do %>
<link rel="stylesheet" type="text/css" href="/stylesheets/meeting.css" />
<% end %>

<% content_for :extra_javascript do %>
<script id="book-nominations-template" type="text/x-handlebars-template">
{{#each nominated_books}}
<li class="row book-listing" data-id="{{book_id}}" data-title="{{title}}" data-votes="{{votes}}" data-user-vote="{{user_vote}}">
	<div class="col-sm-1" style="font-size: 125%;">
		<div class="row">
			<div class="col-xs-12" style="text-align:center; font-weight: bold;">
				<a href="#" class="vote-button vote-up-button {{#if upvoted}}vote-selected{{/if}}" data-id="{{book_id}}"><span class="glyphicon glyphicon-arrow-up"></span></a>
			</div>
		</div>
		<div class="row"><div class="col-xs-12" style="text-align:center">{{votes}}</div></div>
		<div class="row">
			<div class="col-xs-12" style="text-align:center">
				<a href="#" class="vote-button vote-down-button {{#if downvoted}}vote-selected{{/if}}" data-id="{{book_id}}"><span class="glyphicon glyphicon-arrow-down"></span></a>
			</div>
		</div>
	</div>

	<div class="col-sm-11">
		<div class="row">
			<div class="col-sm-2">
				{{#if image_url}}
				<a href="{{book_url}}"><img class="book-image" src="{{image_url}}" /></a>
				{{/if}}
			</div>
			<div class="col-sm-offset-1 col-sm-6">
				<div class="row">
					<div class="col-xs-12 book-title"><a href="{{book_url}}">{{title}}</a></div>
				</div>
				<div class="row">
					<div class="col-xs-12 book-author">{{author}}</div>
				</div>
			</div>
			<div class="col-sm-3">
				<% if @session_state[:show_admin] %>
				<div class="row">
					<div class="col-sm-12"><button class="btn btn-danger book-reject-button" data-book-id="{{book_id}}" data-title="{{title}}">Reject</button></div>
				</div>
				<div class="row">
					<div class="col-sm-12"><button class="btn btn-success book-select-button" data-book-id="{{book_id}}" data-title="{{title}}">Select</button></div>
				</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-7 col-sm-5 book-date-added" title="{{date_added_formatted}}">
				Added {{age_statement}}
			</div>
		</div>
	</div>
</li>
{{/each}}
</script>

<script type="text/javascript">
	window.bbBookClub = {};
	window.bbBookClub.initialState = '<%= @initial_state_json %>';
	window.bbBookClub.initialState = JSON.parse(window.bbBookClub.initialState);
</script>

<script src="/javascripts/jquery.easing.1.3.js"></script>
<script src="/javascripts/jquery-css-transform.js"></script>
<script src="/javascripts/jquery.quicksand.js"></script>
<script src="/javascripts/bootbox.js"></script>
<script src="/javascripts/handlebars-v2.0.0.js"></script>
<script src="/javascripts/meeting.js"></script>
<% end %>

<div id="meeting-container" class="container" data-meeting-id="<%= @meeting.meeting_id %>" data-meeting-selected-book-id="<%= @meeting.selected_book_id %>">
	<div class="row">
		<div class="col-sm-12 page-title"><div><img id="page-spinner" class="invisible" src="/images/spinner.gif"/>Meeting</div></div>
	</div>
	<div class="row">
		<div id="sidebar" class="col-md-4">
			<div class="row">
				<div class="col-xs-12 col-sm-9 sidebar-title"><div>Details</div></div>
			</div>
			<div class="row">
				<div class="col-xs-12 meeting-date"><%= @meeting.date.strftime("%A - %b %d, %Y") %> @ <%= @meeting.time %></div>		
			</div>
			<div class="row">
				<div class="col-sm-12 meeting-location"><%= @meeting.location %></div>
			</div>
		</div>
		<div id="main-content" class="col-md-8">
			<% if @selected_book.nil? %>
			<div class="row">
				<div class="col-sm-12 content-title"><div>Nominations</div></div>
			</div>
			<ul class="book-list">
			
			</ul>
			<% elsif !@selected_book.nil? %>
			<div class="row">
				<div class="col-sm-12 content-title"><div><i><%= @selected_book.title %></i> by <%= @selected_book.author %></div></div>
			</div>
			<div class="row">
				<% if @selected_book.image_url && @selected_book.image_url != "" %>
				<div class="col-sm-2 book-cover">
					<img src="<%= @selected_book.image_url %>"/>
				</div>
				<% end %>
				<div class="col-sm-10">
					<% if @selected_book.summary && @selected_book.summary != "" %>
					<div class="summary">
						<%= @selected_book.summary %>
					</div>
					<% end %>
					<% if @selected_book.external_url && @selected_book.external_url != "" %>
					<% 	external_url_title = "More Info" 
						external_url_title = "More Info on Goodreads" if @selected_book.external_url =~ /(http[s]?:\/\/)?(www\.)?goodreads\.com/
					%>
					<a href="<%= @selected_book.external_url %>"><%= external_url_title %></a>
					<% end %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>